In [1]:
import pandas as pd
pd.options.display.max_rows = 50

filename = 'minute_values-5.csv'
dataset = pd.read_csv(filename,sep =';',skiprows=1)

dataset.columns.values[0] = 'date'
dataset['date'] = pd.to_datetime(dataset['date'])
dataset.set_index('date',inplace=True)

In [2]:
df = dataset
dataset.columns.values[0]

pd.options.display.max_rows = 100
df = df.loc[df.index.notnull()].copy()

In [3]:
df.head()

,Pac (W),Pdc1 (W),Pdc2 (W),Pdc3 (W),Yield (Wh),Udc1 (V),Udc2 (V),Udc3 (V),Temperature (°C),Uac (V),...,Iac1 (mA),Iac2 (mA),Iac3 (mA),Fac (Hz),Cos(Phi),Pac raw (W),Etotal Forward (Wh),Etotal Reverse (Wh),Etotal Raw (Wh),Unnamed: 43
date,,,,,,,,,,,,,,,,,,,,,
2019-06-29 00:00:00,0,0,0,0,0,0,0,0,39,0,...,-3860,2000,1400,50.030,0.505,-236,3732750,983330,2749438,NaN
2019-06-29 00:05:00,0,0,0,0,0,0,0,0,39,0,...,-4000,2060,860,49.980,0.503,-338,3732750,983360,2749407,NaN
2019-06-29 00:10:00,0,0,0,0,0,0,0,0,39,0,...,-4000,2400,800,49.990,0.321,-140,3732750,983370,2749386,NaN
2019-06-29 00:15:00,0,0,0,0,0,0,0,0,39,0,...,-3700,2400,680,50.010,0.186,-48,3732760,983380,2749373,NaN
2019-06-29 00:20:00,0,0,0,0,0,0,0,0,39,0,...,-3600,2220,580,50.010,0.219,-84,3732760,983390,2749378,NaN